<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.project.dao.ConversionDao">
    <!-- 查看兑换信息 -->
    <select id="find_conversion" resultType="com.zty.project.entity.Conversion">
		select *,s.name as sname from conversion c
		inner join staff s on c.sid=s.id
	</select>

    <!-- 增加兑换信息 -->
    <insert id="add_conversion" parameterType="java.util.Map">
		insert into conversion (did,sid,conversion_time,commodity_name) values (#{did},#{sid},now(),#{commodity_name})
	</insert>

    <!-- 查找个人的兑换信息 -->
    <select id="find_conversion_sid" parameterType="java.util.Map" resultType="com.zty.project.entity.Conversion">
  		select c.*,s.name as sname from conversion c
  		inner join staff s on c.sid=s.id
  		where c.sid=#{sid}
  	</select>
</mapper>