<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.project.dao.ProjectDao">
    <!--分页模糊查询站点信息-->
    <select id="find_project" parameterType="java.util.Map" resultType="com.zty.project.entity.Project">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        select p.*,s.station_name as station_name from project p
        inner join station s on p.station_id=s.id
        <where>
            <if test="project_name!=null and project_name!=''">
                and p.project_name like concat("%",#{project_name},"%")
            </if>
            <if test="id!=null and id!=''">
                and p.station_id=#{id}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--分页统计总数-->
    <select id="total" parameterType="java.util.Map" resultType="long">
        select count(*) from project
        <where>
            <if test="project_name!=null and project_name!=''">
                and project_name like concat("%",#{project_name},"%")
            </if>
            <if test="id!=null and id!=''">
                and station_id=#{id}
            </if>
        </where>
    </select>

    <!--增加项目-->
    <insert id="add_project" parameterType="java.util.Map">
        INSERT INTO project (project_name, start_time, modify_time, end_time, accomplish_day, accomplish_month,
        accomplish_all, gross,station_id,person)
        VALUES (#{project_name},#{start_time},now(),#{end_time},0,0,0,#{gross},#{station_id},#{person});
    </insert>

    <!--修改项目-->
    <update id="upd_project" parameterType="java.util.Map">
        UPDATE project SET
        project_name=#{project_name},start_time=#{start_time},modify_time=now(),end_time=#{end_time},gross=#{gross},person=#{person},station_id=#{station_id}
        where id=#{id}
    </update>

    <!--修改项目进度信息-->
    <update id="upd_project_accomplish" parameterType="java.util.Map">
        UPDATE project SET accomplish_day=#{accomplish_day}, accomplish_month=#{accomplish_month},
        accomplish_all=accomplish_all+#{accomplish_day} where id=#{id} and station_id=#{station_id}
    </update>

    <!--删除项目-->
    <delete id="del_project" parameterType="java.util.Map">
        delete from project where id=#{id}
    </delete>

    <!--下拉框查询对应站点的项目信息-->
    <select id="select_project" parameterType="java.util.Map" resultType="com.zty.project.entity.Project">
        select p.*,s.station_name as station_name from project p
        inner join station s on p.station_id=s.id
        where p.station_id=#{station_id}
    </select>

    <!--根据id查找项目信息-->
    <select id="find_project_id" parameterType="java.util.Map" resultType="com.zty.project.entity.Project">
        select * from project where id=#{id}
    </select>

</mapper>